div#main{
 margin-left: 160px;
}
body {
     background-repeat: no-repeat;
     background-attachment: fixed;
    background-image: url("http://www.mediumandmessagethemes.com/wp-content/uploads/layerslider/LayerSlider-5-responsive-demo-slider-copy-copy-copy-copy-copy/concrete-background.jpg"); width="980";
}
#header {

    color: 	#8A2BE2 ;
     margin-top: 60px;
    margin-left: 150px;
    font-size: 50px;
    }

img#transparent {
            opacity: 0.1;
            -webkit-transition: opacity 2s;
            -moz-transition: opacity 3s;
            transition: opacity 3s;
-webkit-filter: grayscale(80%); filter: grayscale(80%);
    margin-left: 150px;
    border-style: outset;
    margin-top: 20px;
    opacity: 0.7;
}
img#transparent:hover{opacity: 01; -webkit-filter: contrast(160%); filter: contrast(130%);}


.button:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}
.button:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
.button:hover {
    color: white;
    background-color: #0040ff;
    text-decoration: none;
}
.button {
    background-color: #8080ff ;
    border: none;
    color: white;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 5px;
}
#button:hover {
    color: red;
    background-color: red;
    text-decoration: none;

}


.brightness {-webkit-filter: brightness(01); filter: brightness(01);}
.brightness:hover {-webkit-filter: brightness(0.75); filter: brightness(0.75);}



#post01{
background-color:transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); color:green; padding:10px; margin-top: 20px; margin-left: 150px; margin-right: 800px; width:306px; height: 410px
}
#text_post01:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}


#post02{
background-color:transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); opacity: 1; color:green; padding:10px; margin-top: -430px; margin-left: 480px; margin-right: 800px; width:306px; height: 410px
}
#text_post02:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}

#post03{
background-color:transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); opacity: 1; color:green; padding:10px; margin-top: -430px; margin-left: 810px; margin-right: 800px; width:306px; height: 410px
}
#text_post03:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}

#post04{
background-color:transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); color:green; padding:10px; margin-top: 20px; margin-left: 150px; margin-right: 800px; width:306px; height: 410px
}
#text_post04:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}

#post05{
background-color:transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); opacity: 1; color:green; padding:10px; margin-top: -430px; margin-left: 480px; margin-right: 800px; width:306px; height: 410px
}
#text_post05:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}

#post07{
background-color:transparent; text-decoration: none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); color:green; padding:10px; margin-top: 20px; margin-left: 150px; margin-right: 800px; width:306px; height: 410px
}
#text_post07:link {
    color: #8080ff;
    background-color: transparent;
    text-decoration: none;
}
